{
  margin: 0px;
}
html, body{
  height: 97%;
  background: black;
}
#header {
  height: 5%;
  background:#000;
}
#header h2 {
  float:left;
  letter-spacing: 10px;
  text-align: center;
  color: #777;
  width: 65%;
}
#header .user {
  float:left;
  width: 20%;
}
#directions{
  height: 95%;
  width:20%;
  float:right;
  padding: 3px;
  overflow: scroll;
  background: white;
}
#controls {
  height: 95%;
  width:20%;
  float:left;
  overflow: scroll;
  background: white;
}
#map_canvas {
  height: 95%;
  float:left;
  height:95%;
  width:60%%;
}
.darker {
  color: #292929;
  }
